body {
    background-image: url(../image/2.jpg);

}
input[type=submit] {
    width: 188px;
    background-color: #236184;
    color: white;
    padding: 8px;
    margin: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button] {
    width: 188px;
    background-color: #236184;
    color: white;
    padding: 8px;
    margin: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text] {
    width: 172px;
    background-color: #236184;
    color: white;
    padding: 8px;
    margin: 2px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
select[id=country]{
    width: 188px;
    background-color: #236184;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.center {
    width: 200px; /* Ширина элемента в пикселах */
    padding: 5px 40px 40px 40px;  /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: white; /* Цвет фона */
    opacity: 0.8;
    border-radius: 10px;
}


